 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: normal;
  margin: 19px auto 0 324px;
}

.u-section-1 .u-text-2 {
  margin: 19px auto 0 307px;
}

.u-section-1 .u-icon-1 {
  width: 245px;
  height: 102px;
  margin: -102px auto 19px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 42px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 281px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 248px;
  }

  .u-section-1 .u-icon-1 {
    height: 101px;
    margin-top: -101px;
    margin-bottom: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: -33px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: -20px;
  }

  .u-section-1 .u-icon-1 {
    width: 190px;
    height: 78px;
    margin-bottom: 60px;
    margin-left: -50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 23px;
    margin-bottom: 19px;
    margin-left: 10px;
  }
} 

.u-section-2 .u-sheet-1 {
  min-height: 637px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 525px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 402px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 302px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 190px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 158px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 157px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 157px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-btn-1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 17px 49px 17px 47px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 129px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 218px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 46px;
    margin-right: auto;
    padding-right: 12px;
    padding-left: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 172px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
    padding-right: 39px;
    padding-left: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 848px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 165px auto 0 0;
}

.u-section-4 .u-line-1 {
  transform-origin: right center;
  margin: 60px 0 0;
}

.u-section-4 .u-group-1 {
  width: 751px;
  min-height: 425px;
  height: auto;
  margin: 65px 0 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-4 .u-text-2 {
  font-style: normal;
  text-transform: none;
  font-weight: normal;
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-3 {
  letter-spacing: normal;
  line-height: 2;
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1173px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 60px;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: 58px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1221px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 53px auto 0 0;
}

.u-section-5 .u-line-1 {
  transform-origin: right center 0px;
  margin: 69px 0 0;
}

.u-section-5 .u-list-1 {
  width: 751px;
  margin: 60px 0 60px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 1324px;
  grid-gap: 10px 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px 10px 79px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 76px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 21px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 10px 79px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 76px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 21px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 10px 79px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 76px 0 0;
}

.u-section-5 .u-text-7 {
  margin: 21px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px 10px 79px;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 76px 0 0;
}

.u-section-5 .u-text-9 {
  margin: 21px 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px 10px 79px;
}

.u-section-5 .u-text-10 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 76px 0 0;
}

.u-section-5 .u-text-11 {
  margin: 21px 0 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px 10px 79px;
}

.u-section-5 .u-text-12 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 76px 0 0;
}

.u-section-5 .u-text-13 {
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 45px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 45px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 45px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 45px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 45px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-12 {
    margin-right: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
  }

  .u-section-5 .u-text-10 {
    margin-right: 0;
  }

  .u-section-5 .u-text-12 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-10 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-12 {
    font-size: 1.25rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 355px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 62px auto 0 0;
}

.u-section-6 .u-line-1 {
  transform-origin: right center 0px;
  margin: 60px 0 0;
}

.u-section-6 .u-group-1 {
  width: 751px;
  min-height: 139px;
  height: auto;
  margin: 22px 27px 30px auto;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 7px auto 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 20px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
    margin-bottom: 40px;
  }
}