{% load static %}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img src="{% static 'img/icons8-redux-250.svg' %}" width="55" height="55" class="d-inline-block align-top" alt="">
      <a class="navbar-brand" href="{% url 'posts:index' %}">Лого</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="sr-only">Меню</span>
      </button>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'posts:index' %}">Все проекты
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="{% url 'posts:index' %}" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'posts:index' %}">Рестораны</a>
              <a class="dropdown-item" href="{% url 'posts:index' %}">Школы</a>
              <a class="dropdown-item" href="{% url 'posts:index' %}">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'posts:index' %}">Separated link</a>
            </div>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about:tech' %}">Сертификаты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about:author' %}"> Об авторе</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  </header>

  