{% extends 'base.html' %}
{% block title %}Posts{% endblock title %}
{% block content %}
  <p><a href="https://github.com/Paymir121/">Страница GitHub автора этого чуда</a></p>
  <a>Мой адрес не дом и не улица
    Мой адрес сегодня такой
    WWW яндекс
    практикум точка ру
    </a></br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.61551695624!2d37.57311641592958!3d55.73043368054736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b0a75d5f073%3A0x370070fbc92516ac!2z0K_QvdC00LXQutGBLtCf0YDQsNC60YLQuNC60YPQvA!5e0!3m2!1sru!2sru!4v1669030228735!5m2!1sru!2sru" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  
  {% endblock %}
