{% extends "base_static.html" %}
{% load static %}
{% block title %}ООО "Абрис"{% endblock %}
{% block content %}
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<style>
  .centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    }

#bg img {
    height: 100%;
    width: 100%;
    }
    
</style>
<div id="bg">
    <img src="{% static 'img/company1.jpg' %}" >
    <div class="centered">
        <img src="{% static 'img/logo.svg' %}" width="10%" height="10%" alt="image description">
    <h1>ООО "Абрис"</h1>
    <h2> Архитектурно-проектное бюро</h2>
    </div>
</div>

<div class="container py-5">
    {% include 'about/typeswork.html' %}
    {% include 'about/services.html' %}
    {% include 'about/principles.html' %}
</div>

</body>
{% endblock %}