
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-61c4f2a elementor-column elementor-col-100 elementor-top-column" data-id="61c4f2a" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-9d8dc40 elementor-widget elementor-widget-heading" data-id="9d8dc40" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                        <h1 class="elementor-heading-title elementor-size-default" align="center">Услуги</h1>		</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<ul class="push">
    <li>Подготовка исходно-разрешительной документации</li>
    <li>Разработка предпроектной документации и технико-экономических обоснований</li>
    <li>Разработка индивидуальных архитектурно-градостроительных концепций</li>
    <li>Разработка архитектурно-градостроительного облика (АГО)</li>
    <li>Разработка проектной документации</li>
    <li>Согласование проектной документации в органах государственного контроля и надзора, организациях и ведомствах</li>
    <li>Прохождение и сопровождение проектной документации в Экспертизе</li>
    <li>Разработка рабочей документации</li>
    <li>Разработка сметной документации</li>
    <li>Разработка ландшафтного дизайна и благоустройство территории</li>
    <li>Разработка индивидуальных интерьерных решений зданий</li>
    <li>Сопровождение проектной документации – сертификация проектируемых зданий</li>
    <li>существление научной, исследовательской и иной деятельности в сфере архитектурного проектирования</li>
    <li>Энформационные и консультативные услуги в области проектирования и строительства</li>
    <li>Проведение научных исследований по проблемам градостроительного развития</li>
    <li>Осуществление функций Заказчика и Технического Заказчика</li>
    <li>Технологическое проектирование</li>
    <li>Осуществление авторского надзора</li>
</ul>

