{% load static %}
<style>
    img {
        height: auto;
        max-width: 100%;
    }
    .content{
        margin-top: 5px;
    }
    .product {
        border: 1px solid #c0c0c0;
        height: 430px;
        overflow: hidden;
        padding: 2px 20px;
        position: relative;
        text-align: center;
        transition: all 0.5s ease 0s;
        margin-bottom: 20px;

    }
    .product:hover {
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    }
    .product-img {
        height: 200px;
        margin-bottom: 40px;
    }
    .product-title a {

        color: #000;
        font-weight: 500;
        text-transform: uppercase;
    }
    .product-desc {

        max-height: 60px;
        overflow: auto;
        margin-bottom: 50px;
    }
</style>
<div class="container content">
    <div class="row">
        <div class="col-md-12 products">
            <div class="row">
                <div class="col-sm-4">
                    <div class="product">
                        <div class="product-img">
                            <a>
                                <img src="{% static 'img/comp1.jpeg' %}" alt=""></a>
                        </div>
                        <p class="product-title">
                            <a>Проектирование
                                жилых зданий</a>
                        </p>
                        <p class="product-desc">Создаем востребованный продукт, где каждая деталь эстетичная и функциональная.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product">
                        <div class="product-img">
                            <a><img src="{% static 'img/comp2.jpeg' %}" alt=""></a>
                        </div>
                        <p class="product-title">
                            <a>Коммерческие интерьеры</a>
                        </p>
                        <p class="product-desc">Организуем пространство так, чтобы на работе сотрудники работали, а не вот это вот все.</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="product">
                        <div class="product-img">
                            <a><img src="{% static 'img/comp3.jpeg' %}" alt=""></a>
                        </div>
                        <p class="product-title">
                            <a>Интерьеры жилых комплексов</a>
                        </p>
                        <p class="product-desc">Создаем интерьеры жилых комплексов, вдохновляя жильцов на яркую жизнь.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="product">
                        <div class="product-img">
                            <a><img src="{% static 'img/comp4.jpeg' %}" alt=""></a>
                        </div>
                        <p class="product-title">
                            <a>Проектирование производственных зданий</a>
                        </p>
                        <p class="product-desc">Находим оптимальное решение для организации производственных площадей.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product">
                        <div class="product-img">
                            <a><img src="{% static 'img/comp5.jpeg' %}" alt=""></a>
                        </div>
                        <p class="product-title">
                            <a>Благоустройство</a>
                        </p>
                        <p class="product-desc">Создаем общественные пространства, где люди работают, творят, отдыхают и любят то, что делают.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product">
                        <div class="product-img">
                            <a><img src="{% static 'img/comp6.jpeg' %}" alt=""></a>
                        </div>
                        <p class="product-title">
                            <a>ППроектирование офисных зданий</a>
                        </p>
                        <p class="product-desc">Разрабатываем здания так, чтобы сотрудники спешили на работу сильнее, чем домой</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
