{% load static %}
<div class="container py-5">
    <div class="row">
<div class="product">
    <div class="product-img">
        <a>
            <img src="{% static 'img/comp1.jpeg' %}" alt=""></a>
    </div>
    <p class="product-title">
        <a>Проектирование
            жилых зданий</a>
    </p>
    <p class="product-desc">Создаем востребованный продукт, где каждая деталь эстетичная и функциональная.</p>
</div>

<div class="product">
    <div class="product-img">
        <a>
            <img src="{% static 'img/comp1.jpeg' %}" alt=""></a>
    </div>
    <p class="product-title">
        <a>Проектирование
            жилых зданий</a>
    </p>
    <p class="product-desc">Создаем востребованный продукт, где каждая деталь эстетичная и функциональная.</p>
</div>
</div>
</div>