
{% with request.resolver_match.view_name as view_name %}
<div class="row my-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a 
        class="btn btn-lg btn-light {% if view_name  == 'posts:index' %}active{% endif %}"
        href="{% url 'posts:index' %}"
      >
        Все проекты
      </a>
    </li>
    <li class="nav-item">
        <a  
          class="btn btn-lg btn-light" 
          href="http://127.0.0.1:8000/group/restoran/"
        > 
          Общепит
        </a> 
    </li>
    <li class="nav-item">
      <a  
        class="btn btn-lg btn-light" 
        href="http://127.0.0.1:8000/group/shkoly-i-sadiki/"
      > 
        Школы и садики 
      </a> 
  </li> 
  </ul>
  </div>
{% endwith %}

